.login-container {
  background: #11023e;
  // overflow: hidden;
  // vertical-align: middle;
  width: 100%;
  height: 100%;
  background-image: url(../../assets/image/bgLogo.png);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  // background-size: cover;

  // background-position: 100%;
  // position: relative;

  &:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    padding: 10px;
    filter: blur(2.5px);
    z-index: 1;
  }

  .block-modal {
    width: 100%;
    height: 100vh;

    .cn-title {
      position: absolute;
      bottom: 180px;
      right: 550px;
      z-index: 4;

      span {
        font-size: 1.5rem;
        color: #fff;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    .en-title {
      position: absolute;
      bottom: 100px;
      right: 550px;
      z-index: 4;

      span {
        font-size: 2.5rem;
        color: #fff;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    .copyright {
      width: 100%;
      position: absolute;
      bottom: 15px;
      left: 0;
      right: 0;
      z-index: 4;
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        color: #ccc;
      }
    }

    .bm-content {
      position: absolute;
      top: 50px;
      left: 50px;
      right: 50px;
      bottom: 50px;
      z-index: 2;
      width: calc(100vw - 100px);
      height: calc(100vh - 100px);
      min-height: 500px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(47, 84, 235, 0.3);
      box-shadow: 0px 0px 20px #333333;
    }
  }

  .lc-content {
    background: #fff;
    position: absolute;
    width: 450px;
    height: calc(100vh - 100px);
    min-height: 500px;
    top: 50px;
    right: 2.6%;
    bottom: 50px;
    z-index: 3;

    .content-wrapper {
      position: absolute;
      right: 16.6%;
      top: 5%;
      height: calc(100vh - 100px);
    }
  }

  .top-title {
    width: 300px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    .logo-wrapper {
      text-align: center;
      padding-bottom: 15px;

      img {
        width: 3rem;
        height: 3rem;
      }
    }

    .welcome-wrapper {
      width: 100%;
      display: inline-block;
      text-align: center;
      padding-top: 50px;

      .welcome {
        font-size: 1.4rem;
        color: #000;
        // border-bottom: 4px solid #2f54eb;
        padding-bottom: 10px;
        position: relative;

        &:after {
          content: "";
          position: absolute;
          bottom: 0px;
          left: 10px;
          width: 70px;
          height: 4px;
          background: #2f54eb;
          border-radius: 10px;
        }
      }
    }

    .title {
      display: inline-block;
      font-size: 22px;
      font-weight: bold;
      color: #000;
    }
  }

  .img-logo {
    position: absolute;
    left: 2.25rem;
    top: 2rem;
  }

  .login-form {
    width: 300px;

    .form-title {
      display: inline-block;
      // background: url(../../assets/imgs/Welcome.png) no-repeat;
      width: 12.5rem;
      height: 1.8rem;
      font-size: 20px;
      margin-bottom: -20px;
    }
  }

  .login-form-forgot {
    float: right;
  }

  .login-form-button {
    width: 100%;
    background-color: #2f54eb;
    border-color: #2f54eb;
    box-shadow: 0px 4px 14px #2f54eb5e;
  }
}