@media (min-width: 240px) {
  html {
    font-size: 44.5%;
  }
}
@media (min-width: 480px) {
  html {
    font-size: 46.5%;
  }
}
@media (min-width: 960px) {
  html {
    font-size: 48.5%;
  }
}
@media (min-width: 1024px) {
  html {
    font-size: 50.5%;
  }
}
@media (min-width: 1280px) {
  html {
    font-size: 52.5%;
  }
}
@media (min-width: 1366px) {
  html {
    font-size: 54.5%;
  }
}
@media (min-width: 1440px) {
  html {
    font-size: 56.5%;
  }
}
@media (min-width: 1680px) {
  html {
    font-size: 58.5%;
  }
}
@media (min-width: 1920px) {
  html {
    font-size: 60.5%;
  }
}
@media (min-width: 2560px) {
  html {
    font-size: 70.5%;
  }
}

@media (min-width: 3840px) {
  html {
    font-size: 80.5%;
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}
html {
  height: 100%;
  overflow: auto;
}

body {
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

/* 样式初始化 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}
body,
button,
input,
select,
textarea {
  font: 12px/1.5tahoma, arial, \5b8b\4f53;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
code,
kbd,
pre,
samp {
  font-family: couriernew, courier, monospace;
}
small {
  font-size: 12px;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
legend {
  color: #000;
}
fieldset,
img {
  border: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
